{% extends 'layout/basic.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'main/styles/login_style.css' %}">
{% endblock %}

{% block title %}Смена пароля{% endblock %}

{% block content %}
<form method='post'>
	{% csrf_token %}
	<h2>Смена пароля</h2>
	{% for field in form.visible_fields %}
		<div class="wrapper-field">
			<div class="field">{{ field }}</div>
			<div class="label">{{ field.label }}</div>
			{% if field.errors %}
				{% for error in field.errors %}
				<p class="error-message">{{error}}</p>
				{% endfor %}
			{% endif %}
		</div>
	{% endfor %}
	<input type="submit" value="Изменить пароль" class="btn">
</form>
{% endblock %}